In [66]:
import pandas as pd

path = './Residential-Building-Data-Set.xlsx'
origin_data = pd.read_excel(path)
origin_data_columns_length = len(origin_data.columns)
count = 0
index_label = True
first_level = []
iterables = []

while count < origin_data_columns_length:
    name = origin_data.columns[count]
    if name.find('Unnamed') == -1:
        first_level.append(name)
        index_label = True
    else:
        if index_label == True:
            iterables.append([])
            iterables[-1].append(name)
        else:
            iterables[-1].append(name)
        index_label = False
    count = count + 1

colunms = [(name, 'v'+str(order+1)) for (index, name) in enumerate(first_level) for (order, colunm) in enumerate(iterables[index])]
colunms
colunms = pd.MultiIndex.from_tuples(colunms)
pd.DataFrame(
        origin_data, 
        columns=colunms,
    )

    PROJECT DATES (PERSIAN CALENDAR)          \
                                  v1  v2  v3
0                                NaN NaN NaN
1                                NaN NaN NaN
2                                NaN NaN NaN
3                                NaN NaN NaN
4                                NaN NaN NaN
..                               ...  ..  ..
368                              NaN NaN NaN
369                              NaN NaN NaN
370                              NaN NaN NaN
371                              NaN NaN NaN
372                              NaN NaN NaN

    PROJECT PHYSICAL AND FINANCIAL VARIABLES                          ...  \
                                          v1  v2  v3  v4  v5  v6  v7  ...
0                                        NaN NaN NaN NaN NaN NaN NaN  ...
1                                        NaN NaN NaN NaN NaN NaN NaN  ...
2                                        NaN NaN NaN NaN NaN NaN NaN  ...
3                                        NaN NaN NaN NaN NaN NaN NaN  ...
4                                        NaN NaN NaN NaN NaN NaN NaN  ...
..                                       ...  ..  ..  ..  ..  ..  ..  ...
368                                      NaN NaN NaN NaN NaN NaN NaN  ...
369                                      NaN NaN NaN NaN NaN NaN NaN  ...
370                                      NaN NaN NaN NaN NaN NaN NaN  ...
371                                      NaN NaN NaN NaN NaN NaN NaN  ...
372                                      NaN NaN NaN NaN NaN NaN NaN  ...

    ECONOMIC VARIABLES AND INDICES IN TIME LAG 5                              \
                                             v10 v11 v12 v13 v14 v15 v16 v17
0                                            NaN NaN NaN NaN NaN NaN NaN NaN
1                                            NaN NaN NaN NaN NaN NaN NaN NaN
2                                            NaN NaN NaN NaN NaN NaN NaN NaN
3                                            NaN NaN NaN NaN NaN NaN NaN NaN
4                                            NaN NaN NaN NaN NaN NaN NaN NaN
..                                           ...  ..  ..  ..  ..  ..  ..  ..
368                                          NaN NaN NaN NaN NaN NaN NaN NaN
369                                          NaN NaN NaN NaN NaN NaN NaN NaN
370                                          NaN NaN NaN NaN NaN NaN NaN NaN
371                                          NaN NaN NaN NaN NaN NaN NaN NaN
372                                          NaN NaN NaN NaN NaN NaN NaN NaN

        OUTPUTS
    v18      v1
0   NaN     NaN
1   NaN     NaN
2   NaN     NaN
3   NaN     NaN
4   NaN     NaN
..   ..     ...
368 NaN     NaN
369 NaN     NaN
370 NaN     NaN
371 NaN     NaN
372 NaN     NaN

[373 rows x 101 columns]

In [51]:
a = [1,23]
for (index,vale) in enumerate(a):
    print(index)
    print(vale)

0
1
1
23

In [25]:
origin_data.head(1)

,PROJECT DATES (PERSIAN CALENDAR),Unnamed: 1,Unnamed: 2,Unnamed: 3,PROJECT PHYSICAL AND FINANCIAL VARIABLES,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,OUTPUTS,Unnamed: 108
0,START YEAR,START QUARTER,COMPLETION YEAR,COMPLETION QUARTER,V-1,V-2,V-3,V-4,V-5,V-6,...,V-22,V-23,V-24,V-25,V-26,V-27,V-28,V-29,V-9,V-10