In [31]:
import numpy as np
import pandas as pd

path =  './Data/sat.txt'
data = pd.read_csv(path, sep=' ', header=0)

In [23]:
data

             state  expend  ratio  salary  takers  verbal  math  total
0          Alabama   4.405   17.2  31.144       8     491   538   1029
1           Alaska   8.963   17.6  47.951      47     445   489    934
2          Arizona   4.778   19.3  32.175      27     448   496    944
3         Arkansas   4.459   17.1  28.934       6     482   523   1005
4       California   4.992   24.0  41.078      45     417   485    902
5         Colorado   5.443   18.4  34.571      29     462   518    980
6      Connecticut   8.817   14.4  50.045      81     431   477    908
7         Delaware   7.030   16.6  39.076      68     429   468    897
8          Florida   5.718   19.1  32.588      48     420   469    889
9          Georgia   5.193   16.3  32.291      65     406   448    854
10          Hawaii   6.078   17.9  38.518      57     407   482    889
11           Idaho   4.210   19.1  29.783      15     468   511    979
12        Illinois   6.136   17.3  39.431      13     488   560   1048
13         Indiana   5.826   17.5  36.785      58     415   467    882
14            Iowa   5.483   15.8  31.511       5     516   583   1099
15          Kansas   5.817   15.1  34.652       9     503   557   1060
16        Kentucky   5.217   17.0  32.257      11     477   522    999
17       Louisiana   4.761   16.8  26.461       9     486   535   1021
18           Maine   6.428   13.8  31.972      68     427   469    896
19        Maryland   7.245   17.0  40.661      64     430   479    909
20   Massachusetts   7.287   14.8  40.795      80     430   477    907
21        Michigan   6.994   20.1  41.895      11     484   549   1033
22       Minnesota   6.000   17.5  35.948       9     506   579   1085
23     Mississippi   4.080   17.5  26.818       4     496   540   1036
24        Missouri   5.383   15.5  31.189       9     495   550   1045
25         Montana   5.692   16.3  28.785      21     473   536   1009
26        Nebraska   5.935   14.5  30.922       9     494   556   1050
27          Nevada   5.160   18.7  34.836      30     434   483    917
28   New Hampshire   5.859   15.6  34.720      70     444   491    935
29      New Jersey   9.774   13.8  46.087      70     420   478    898
30      New Mexico   4.586   17.2  28.493      11     485   530   1015
31        New York   9.623   15.2  47.612      74     419   473    892
32  North Carolina   5.077   16.2  30.793      60     411   454    865
33    North Dakota   4.775   15.3  26.327       5     515   592   1107
34            Ohio   6.162   16.6  36.802      23     460   515    975
35        Oklahoma   4.845   15.5  28.172       9     491   536   1027
36          Oregon   6.436   19.9  38.555      51     448   499    947
37    Pennsylvania   7.109   17.1  44.510      70     419   461    880
38    Rhode Island   7.469   14.7  40.729      70     425   463    888
39  South Carolina   4.797   16.4  30.279      58     401   443    844
40    South Dakota   4.775   14.4  25.994       5     505   563   1068
41       Tennessee   4.388   18.6  32.477      12     497   543   1040
42           Texas   5.222   15.7  31.223      47     419   474    893
43            Utah   3.656   24.3  29.082       4     513   563   1076
44         Vermont   6.750   13.8  35.406      68     429   472    901
45        Virginia   5.327   14.6  33.987      65     428   468    896
46      Washington   5.906   20.2  36.151      48     443   494    937
47   West Virginia   6.107   14.8  31.944      17     448   484    932
48       Wisconsin   6.930   15.9  37.746       9     501   572   1073
49         Wyoming   6.160   14.9  31.285      10     476   525   1001

#### (a) Obtain the regression model of expend against the predictors, ratio, salary,takers, and total.

In [24]:
import statsmodels.formula.api as smf

model = smf.ols('expend ~ ratio+salary+takers+total', data = data).fit() # Fit the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 expend   R-squared:                       0.895
Model:                            OLS   Adj. R-squared:                  0.885
Method:                 Least Squares   F-statistic:                     95.66
Date:                Tue, 19 Nov 2024   Prob (F-statistic):           2.10e-21
Time:                        16:57:25   Log-Likelihood:                -29.629
No. Observations:                  50   AIC:                             69.26
Df Residuals:                      45   BIC:                             78.82
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.7331      2.308      0.751      0.457      -2.916       6.382
ratio         -0.2234      0.032     -7.040      0.000      -0.287      -0.159
salary         0.2027      0.015     13.273      0.000       0.172       0.233
takers         0.0006      0.007      0.087      0.931      -0.013       0.015
total          0.0009      0.002      0.423      0.674      -0.003       0.005
==============================================================================
Omnibus:                        0.771   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.680   Jarque-Bera (JB):                0.864
Skew:                           0.207   Prob(JB):                        0.649
Kurtosis:                       2.506   Cond. No.                     3.43e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.43e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

#### (b) By considering a 50%-50% split of the data into training set and test set, output the root mean squared prediction error of the following models
`A, Expend against ratio, salary, takers, and total`

`B, Expend against ratio, salary, takers, verbal, and math`

`C, Expend against ratio, salary, takers, verbal`

`D, Expend against ratio, salary, takers, and math`

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
# A, Expend against ratio, salary, takers, and total
X_train, X_test, y_train, y_test = train_test_split(data[['ratio', 'salary','takers','total']], data['expend'], test_size=0.5, random_state=42)
model = smf.ols('expend ~ ratio+salary+takers+total', data = data).fit() 
pre_val = model.predict(data)
act_val = data['expend']
bias = np.mean(pre_val - act_val)
rmse = np.sqrt(mean_squared_error(act_val, pre_val))

print("Bias:", bias)
print("RMSE:", rmse)

Bias: -3.661959624423616e-14
RMSE: 0.4376403464743763

In [39]:
# B, Expend against ratio, salary, takers, verbal, and math
X_train, X_test, y_train, y_test = train_test_split(data[['ratio', 'salary','takers','verbal','total']], data['expend'], test_size=0.5, random_state=42)
model = smf.ols('expend ~ ratio+salary+takers+verbal+total', data = data).fit() 
pre_val = model.predict(data)
act_val = data['expend']
bias = np.mean(pre_val - act_val)
rmse = np.sqrt(mean_squared_error(act_val, pre_val))

print("Bias:", bias)
print("RMSE:", rmse)

Bias: -4.7482018317168696e-14
RMSE: 0.43654441893290813

In [40]:
# C, Expend against ratio, salary, takers, verbal
X_train, X_test, y_train, y_test = train_test_split(data[['ratio', 'salary','takers','verbal']], data['expend'], test_size=0.5, random_state=42)
model = smf.ols('expend ~ ratio+salary+takers+verbal', data = data).fit() 
pre_val = model.predict(data)
act_val = data['expend']
bias = np.mean(pre_val - act_val)
rmse = np.sqrt(mean_squared_error(act_val, pre_val))

print("Bias:", bias)
print("RMSE:", rmse)

Bias: 1.5267787034645154e-14
RMSE: 0.43816379053515536

In [41]:
# D, Expend against ratio, salary, takers, and math
X_train, X_test, y_train, y_test = train_test_split(data[['ratio', 'salary','takers','math']], data['expend'], test_size=0.5, random_state=42)
model = smf.ols('expend ~ ratio+salary+takers+math', data = data).fit() 
pre_val = model.predict(data)
act_val = data['expend']
bias = np.mean(pre_val - act_val)
rmse = np.sqrt(mean_squared_error(act_val, pre_val))

print("Bias:", bias)
print("RMSE:", rmse)

Bias: 3.0997426847534373e-15
RMSE: 0.43718089733049315

#### (c) Among the four models in (b), which model do you prefer? Why?

B is better. Beacuse the value of `root mean squared prediction error` is the smallest among the four models.

## Question 2. The data file bank.csv contains a subset of a huge credit dataset of a German bank. This dataset has 1000 observations and 10 columns:

#### (a) Obtain the regression coefficients in the logistic regression model from the data using Python.

In [73]:
path =  './Data/bank.csv'
data = pd.read_csv(path, header=0)
data

,Check,Duration,Credit,Purpose,Amount,Saving,Employ,Install,Marriage,Class
0,1,6,4,3,1169,5,5,4,3,1
1,2,48,2,3,5951,1,3,2,2,2
2,4,12,4,6,2096,1,4,2,3,1
3,1,42,2,2,7882,1,4,2,3,1
4,1,24,3,0,4870,1,3,3,3,2
...,...,...,...,...,...,...,...,...,...,...
995,4,12,2,2,1736,1,4,3,2,1
996,1,30,2,1,3857,1,3,4,1,1
997,4,12,2,3,804,1,5,4,3,1
998,1,45,2,3,1845,1,3,4,3,2
999,2,45,4,1,4576,2,1,3,3,1

In [74]:
import statsmodels.formula.api as smf
from sklearn.metrics import confusion_matrix

data['Class'] = data['Class'].astype('category')
data['Class'] = data['Class'].cat.codes

model = smf.mnlogit('Class ~ Check+Duration+Credit+Purpose+Amount+Saving+Employ+Install+Marriage', data=data).fit()

model.summary()

Optimization terminated successfully.
         Current function value: 0.492632
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                  Class   No. Observations:                 1000
Model:                        MNLogit   Df Residuals:                      990
Method:                           MLE   Df Model:                            9
Date:                Tue, 19 Nov 2024   Pseudo R-squ.:                  0.1935
Time:                        18:10:00   Log-Likelihood:                -492.63
converged:                       True   LL-Null:                       -610.86
Covariance Type:            nonrobust   LLR p-value:                 7.150e-46
==============================================================================
   Class=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.4161      0.466      3.041      0.002       0.503       2.329
Check         -0.5667      0.068     -8.303      0.000      -0.700      -0.433
Duration       0.0285      0.008      3.399      0.001       0.012       0.045
Credit        -0.3805      0.077     -4.949      0.000      -0.531      -0.230
Purpose       -0.0224      0.029     -0.764      0.445      -0.080       0.035
Amount      8.149e-05   3.71e-05      2.195      0.028    8.72e-06       0.000
Saving        -0.2255      0.056     -4.014      0.000      -0.336      -0.115
Employ        -0.1514      0.066     -2.282      0.022      -0.281      -0.021
Install        0.2819      0.080      3.545      0.000       0.126       0.438
Marriage      -0.2776      0.111     -2.495      0.013      -0.496      -0.060
==============================================================================
"""

#### (b) Predict the probability of “Class = Good” for the new observation with Check = 100 DM, Duration = 36 months, No credit taken, Business purpose, Amount = 1953 DM, Saving = 50 DM, Employed for 10 years, Install rate = 4%, Male single.

In [75]:
newdata = pd.DataFrame({
    'Check': [100],
    'Duration':[36],
    'Credit': [0],  
    'Purpose': [1], 
    'Amount': [1953],
    'Saving': [50],
    'Employ': [10],
    'Install':[4],
    'Marriage': [3],  
})

pred_probs = model.predict(newdata)
print(pred_probs)

pred_classes = pred_probs.idxmax(axis=1)
print(pred_classes)

     0             1
0  1.0  1.207544e-29
0    0
dtype: int64

## Question 3. We consider the data prostate.txt from the study of Stamey (1989).
It was a study on 97 men with prostate cancer who were about to receive a
radical prostatectomy (an operation)

In [76]:
path = './Data/prostate.txt'
data = pd.read_csv(path, sep=' ', header=0)
data

      lcavol  lweight  age      lbph  svi      lcp  gleason  pgg45     lpsa
0  -0.579819   2.7695   50 -1.386294    0 -1.38629        6      0 -0.43078
1  -0.994252   3.3196   58 -1.386294    0 -1.38629        6      0 -0.16252
2  -0.510826   2.6912   74 -1.386294    0 -1.38629        7     20 -0.16252
3  -1.203973   3.2828   58 -1.386294    0 -1.38629        6      0 -0.16252
4   0.751416   3.4324   62 -1.386294    0 -1.38629        6      0  0.37156
..       ...      ...  ...       ...  ...      ...      ...    ...      ...
92  2.830268   3.8764   68 -1.386294    1  1.32176        7     60  4.38515
93  3.821004   3.8969   44 -1.386294    1  2.16905        7     40  4.68444
94  2.907447   3.3962   52 -1.386294    1  2.46385        7     10  5.14312
95  2.882564   3.7739   68  1.558145    1  1.55814        7     80  5.47751
96  3.471967   3.9750   68  0.438255    1  2.90417        7     20  5.58293

[97 rows x 9 columns]